<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZsRv7N5Z48QF7kVvxVWnoZgu18zOWi2A</string>
	<key>GCM_SENDER_ID</key>
	<string>346704774165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newproject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>newp-60d76</string>
	<key>STORAGE_BUCKET</key>
	<string>newp-60d76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346704774165:ios:adc7ca348132bf53a67a1c</string>
</dict>
</plist>